@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*===== RESET ==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/*===== VARIABLES ==========================*/
:root {
  --dark: #292C35;
  --light: #F1F1F1;
  --label: #111;
  --grey: #E5E5E5;
}

/*===== BASE ==========================*/
body {
  background: var(--light);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

body.dark {
  --light: #292C35;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  height: 100%;
}

/*===== SWITCHER ==========================*/
.switcher {
  height: 6.375rem;
  width: 14.6875rem;
  background: var(--label);
  border-radius: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
}

.switcher:before {
  content: "";
  position: absolute;
  background: var(--grey);
  width: 4.5rem;
  height: 4.5rem;
  clip-path: circle();
  transition: 0.3s ease;
}

body.dark .switcher:before {
  transform: translateX(180%)
}

.switcher img {
  display: block;
  width: 4.875rem;
  height: 4.875rem;
}

/* ---- Mensagens ---- */

.good-night {
  color: var(--grey);
  font-size: 3.5rem;
  text-align: center;
  transition: 0.3s ease;
  opacity: 0;
}

body.dark .good-night {
  opacity: 1;
}

.good-morning {
  color: var(--dark);
  font-size: 3.5rem;
  text-align: center;
  transition: 0.3s ease;
  opacity: 1;
}

body.dark .good-morning {
  opacity: 0;
}


/*===== RESPONSIVE ==========================*/

@media (max-width: 350px) {
  :root {
    font-size: 13px;
  }
}